<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id='embed'>{{embed1}}</p>
    <button>
        <a href="/">Back</a>
    </button>
</body>
</html> -->
{{embed1}}
<!-- IP
{% for embed in embed1['response'] %}
</br>
{{embed.ipAddress}}
</br>
{% endfor %}
</br>
NAME
{% for embed in embed1['response'] %}
</br>
{{embed.name}}
</br>
{% endfor %} -->